{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-8 offset-3 bg-dark text-light">
        <h2 class="text-center">Cosas para contar</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit iaculis metus ullamcorper vestibulum mattis
            sollicitudin fusce eu a dictumst, rutrum aliquam facilisi eget ut himenaeos torquent aptent ultricies congue
            taciti est laoreet aenean nulla habitasse. Quisque at rhoncus sapien blandit eget erat venenatis dui nunc,
            mi molestie sodales conubia facilisi nibh felis odio donec a, suscipit litora tempor justo risus torquent
            neque facilisis. Conubia netus facilisi donec dis integer dictumst pharetra, at leo curabitur pellentesque
            ad porta scelerisque, aenean per tincidunt purus cursus fusce.

            Leo augue mus ad ultricies hac nunc aliquam suscipit lacinia lobortis quis, ut dapibus pretium eros
            habitasse primis lectus nibh aenean. Purus congue imperdiet donec aliquam cum non dapibus, sem aenean
            euismod ornare tincidunt ultrices natoque, litora ante tortor phasellus luctus lacinia. Vulputate nunc
            turpis nam euismod risus phasellus duis parturient cubilia, sollicitudin malesuada erat pulvinar ultrices
            porta aptent.</p>
    </div>


</div>

{% endblock %}