<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bienvenido {{user}}</title>

    {% include 'head_css.html' %}
    <style>
        {% block style %}{% endblock %}
    </style>

</head>

<body class="bg-secondary">

{% include 'navbar.html' %}
{% if user.is_authenticated %}
{% block jumbotron %}{% endblock %}
{% endif %}

<div role="main" class="container">
    {% if user.is_authenticated %}
    {% block content %}{% endblock %}
    {% else %}
    {% block accounts %}{% endblock %}
    {% endif %}
</div>


{% include 'javascript.html' %}

</body>
</html>