{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% if form %}
    <div class="form-group jumbotron">
        <form class="text-center" method="POST" action="">{% csrf_token %}
            <span class="font-weight-bold" id="nombre">Nombre: {{form.nombre}}</span>
            <span class="font-weight-bold" id="email">Email: {{form.email}}</span>
            <br/><br/>
            <span class="font-weight-bold" id="mensaje">Mensaje:</span>
            <br/>
            {{form.mensaje}}
            <br/>
            <input class="btn btn-primary" type="submit" id="submit"  value="Registrar"/>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}
