{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block style %}
.jumbotron {
background-color: #466482;
color: WHITE;
}

.fa-5x {
font-size: 6em !important;
color: RED;
}

.fa-spinner {
color: YELLOW;
font-size: 6em !important;
}
{% endblock %}

{% block jumbotron %}


<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Navbar example</h1>
                <p class="lead">Hola {{user}}</p>
                <a class="btn btn-lg btn-danger" href="{% url 'inicio' %}" role="button">BOTON INUTIL</a>
                <p/>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" id="navBarSearch" type="text" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="searchNav(this)">Search
                    </button>
                </form>
                <div>
                    <br/>
                    Stack de iconos
                    <br/>
                    <span class="fa-stack fa-2x">
                    <i class="fas fa-camera fa-stack-1x"></i>
                    <i class="fas fa-ban fa-stack-2x fa-spin" style="color:Tomato"></i>
                </span>
                </div>
            </div>
            <div class="col-sm-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/mdoNlV9GH6E" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% if form %}
<div class="row">
    <div class="col-sm-3 lead text-align-center">Texto 1
        <p></p>
        <img class="img-responsive" width="200" height="120"
             src="{% static 'img/gato.png' %}"/>
    </div>
    <div class="col-sm-3 lead text-align-center">Texto 2
        <p></p>
        <span class="fa-stack fa-2x">
                    <i class="fas fas fa-sync fa-spin fa-stack-2x" style="color:red"></i>
                    <i class="fa fa-font-awesome fa-stack-1x" aria-hidden="true"></i>
                </span>
    </div>
    <div class="col-sm-3 lead text-align-center">Texto 3
        <p></p>
        <i class="fa-5x fas fa-cat"></i>
    </div>
    <div class="col-sm-3 col-xs-12">
        <p class="lead text-align-center">{{ titulo }}</p>
        <form method="POST" action="">{% csrf_token %}
            {{ form|crispy }}
            <input class="btn-primary" type="submit" id="submit" value="Enviar"/>
        </form>
    </div>

</div>
{% endif %}
{% endblock %}

