{% extends 'base.html' %}

{% block head_title %}Bienvenido | {{user}} {{ block.super }}{% endblock %}

<body style="background-color:gray">
<div style="text-align:center; color:gold; background-color: blue">
    <h1>{{el_titulo}}</h1>
    <h1>El usuario logueado es => {{request.user}}</h1>
</div>

{% block jumbotron_content %}
<h1>INICIO</h1>
<p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll,
    this navbar remains in its original position and moves with the rest of the page.</p>
<a class="btn btn-lg btn-primary" href="#" role="button">View navbar docs &raquo;</a>
</p>
{% endblock %}

{% block content %}
<form method="POST" action="">{% csrf_token %}
    {{el_form.as_p}}
    <input type="submit" value="Registrar"/>
</form>
<a href="contact/">Contacto</a>
{% endblock %}

</body>
</html>