{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block jumbo %}

<div class="jumbotron">
    <h1>Navbar example</h1>
    <p class="lead">Hola {{user}}</p>
    <a class="btn btn-lg btn-danger" href="{% url 'inicio' %}" role="button">BOTON INUTIL</a>
</div>
{% endblock %}
{% block content %}
{% if form %}
<div class="form-group">
    <form class="form-horizontal" method="POST" action="">{% csrf_token %}
        {{ form|crispy }}
        <hr/>
        <input class="btn-primary" type="submit" id="submit" value="Registrar"/>
    </form>
</div>
{% endif %}
{% endblock %}
